  @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Merriweather:400,700,900');

* { 
    font-family: 'Merriweather', serif;
}
body {
    background-color: #212529;
}
.button {
    background-color: #CF0000;
}
.button:hover {
    background-color: #b22033;
}
.col-xl-10 > h1 {
    font-weight: 600;
    margin-bottom: .8rem;
}
.col-xl-10 > h4 {
    margin-bottom: .7rem;
}
.col-xl-10 > h5 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
button  h2 {
    margin-bottom: 0;
}

/* */
.brush {
    background: url("../img/brush1.png");
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    text-shadow: 3px 3px #094f71;
}
.rowBg{
    /*border: 0.3rem dashed #a80b0b;*/
    background-color: #21284F;
}
.price {
    font-weight: 600;
    color: #DA3D32;
}
.social {
    margin-left: 5px;
    text-align: center;
    width: 35px;
}